<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .message-grean {color:green; border: 2px solid green; padding: 10px;}
      .message-red {color:red; border: 2px solid red; padding: 10px;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker {{hi}}</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="{{placeholder}}"
             class="form-control" ng-model="dishes">
             <span class="help-block">
               Please don't put spaces between comma.
               <br>
               type like: dish1, dish2, dish3
             </span>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">{{nameBtn}}</button>
         </div>
         <div class="form-group message" ng-class="{'message-grean':messageGreen, 'message-red': messageRed}">
           {{message}}
         </div>
   </div>

   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
